################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/IvisMaui.App/FileContentIndex
/.vs/IvisMaui/v17
/.vs/IvisMaui/v16
/.vs/IvisMaui/DesignTimeBuild
/.vs/IvisMaui/FileContentIndex
/.vs/ProjectEvaluation
/.vs/VSWorkspaceState.json
/IvisMaui.Android/obj
/IvisMaui.Android/.vs/IvisMaui.Android
/obj/Debug/net6.0-android
/obj
/packages
/src/IO.Ports.Abstractions/obj/Debug/netstandard2.0
/src/IO.Ports.Abstractions/obj
/src/IO.Ports.Core/bin/Debug/netstandard2.0
/src/IO.Ports.Core/obj
/src/NMEAParser/obj
/src/RfId/bin/Debug
/src/RfId/obj
/src/RfId/RfId.Core.csproj.bak
/src/IO.Ports/obj/x86/Release/netstandard2.0
/src/IO.Ports/obj/Release/netstandard2.0
/src/IO.Ports/obj
/src/IO.Ports/bin/Debug/netstandard2.0
/.vs/IvisMaui/config
